copy.sh

cpp/build
cpp/build/*

python/map_data.raw
python/__pycache__
python/__pycache__/*

docs/figs
docs/figs/*
docs/Makefile
docs/manual.aux
docs/manual.blg
docs/manual.log
docs/manual.out
docs/manual.tex
docs/manual.bbl
docs/manual.dvi
docs/manual_opt.pdf
docs/manual.toc
